<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.erp.zpgl.dao.ZpglDao">

    <!-- 查询招聘渠道 -->
    <select id="queryRecruitChannel" resultType="RecruitChannelBean">
        SELECT RECRUITCHANNEL_ID, RECRUITCHANNEL_NAME
        FROM ZP_RECRUITCHANNEL
    </select>

    <!-- 添加招聘渠道 -->
    <insert id="addRecruitChannel" parameterType="RecruitChannelBean">
        INSERT INTO ZP_RECRUITCHANNEL (RECRUITCHANNEL_NAME)
        VALUES(#{recruitChannelName})
    </insert>

    <!-- 删除招聘渠道 -->
    <delete id="deleteRecruitChannel">
        DELETE FROM ZP_RECRUITCHANNEL
        WHERE RECRUITCHANNEL_ID = #{id}
    </delete>

    <!-- 修改招聘渠道 -->
    <update id="updateRecruitChannel" parameterType="RecruitChannelBean">
        UPDATE ZP_RECRUITCHANNEL
        SET
        RECRUITCHANNEL_NAME = #{recruitChannelName}
        WHERE RECRUITCHANNEL_ID = #{recruitChannelId}
    </update>

    <!-- 查询面试信息 -->
    <select id="queryRecruitData" parameterType="RecruitDataBean" resultType="RecruitDataBean">
        SELECT A.ID, A.Name, A.Sex, A.Birth, A.IDNum AS idNum,
        A.Phone, A.Mail, A.QQ, A.Address, A.HomeAddress,
        A.HomeTown, A.AccountProp, A.Ploitical, A.Marital, A.Nationality,
        A.Height, A.Weight, A.BloodType, A.Education, A.Channel,
        A.School, A.Graduation, A.Profession, A.AtSchool, A.workCompany,
        A.Workexp, A.Certificate, C.RecruitChannel_Name AS channelName, A.Position, P.Position_Name AS positionName,
        A.Department, D.Name AS departmentName, A.wages, A.Interviewer, A.RecruitDate,
        A.InvitationDate, A.score, A.IsQualified, A.IsPay, A.Remark,
        CASE
        WHEN E.State IS NULL THEN '未入职'
        WHEN E.State = 1 THEN '在职'
        WHEN E.State = 2 THEN '离职'
        END AS isEntry,
        A.IsDelete, A.UpdateDate, A.UpdateAccount, E.Account
        FROM ZP_RecruitData A
        LEFT JOIN T_Employee_Basic E ON A.ID = E.RecruitDataID
        LEFT JOIN ZP_RecruitChannel C ON A.Channel = C.RecruitChannel_ID
        LEFT JOIN T_Department D ON A.Department = D.ID
        LEFT JOIN Position_Data P ON A.Position = P.Position_ID
        <where>
            A.IsDelete = 0
            <if test="department !=null and department != ''">
                AND A.Department = #{department}
            </if>
            <if test="position != null and position !=''">
                AND A.Position = #{position}
            </if>
            <if test="channel != null and channel !=''">
                AND A.Channel = #{channel}
            </if>
            <if test="isQualified != null and isQualified != ''">
                <choose>
                    <when test="isQualified == 0">
                        AND A.IsQualified = '否'
                    </when>
                    <when test="isQualified == 1">
                        AND A.IsQualified = '是'
                    </when>
                    <when test="isQualified == 2">
                        AND A.IsQualified = '待定'
                    </when>
                </choose>
            </if>
            <if test="dateFlag != null and dateFlag != ''">
                <choose>
                    <when test="dateFlag == 0">
                        <if test="begDate != null and begDate != ''">
                            AND A.InvitationDate <![CDATA[ >= ]]> #{begDate}
                        </if>
                        <if test="endDate != null and endDate != ''">
                            AND A.InvitationDate <![CDATA[ <= ]]> #{endDate}
                        </if>
                    </when>
                    <when test="dateFlag == 1">
                        <if test="begDate != null and begDate != ''">
                            AND A.RecruitDate <![CDATA[ >= ]]> #{begDate}
                        </if>
                        <if test="endDate != null and endDate != ''">
                            AND A.RecruitDate <![CDATA[ <= ]]> #{endDate}
                        </if>
                    </when>
                </choose>
            </if>
            <if test="isEntry != null and isEntry != ''">
                <choose>
                    <when test="isEntry == 0">
                        AND E.State IS NULL
                    </when>
                    <when test="isEntry == 1">
                        AND E.State = 1
                    </when>
                    <when test="isEntry == 2">
                        AND E.State = 2
                    </when>
                </choose>
            </if>
            <if test="name != null and name != ''">
                AND A.Name LIKE '%' + #{name} + '%'
            </if>
            <if test="phone != null and phone != ''">
                AND (A.Phone LIKE '%' + #{phone} + '%'
                OR A.Mail LIKE '%' + #{phone} + '%'
                OR A.QQ LIKE '%' + #{phone} + '%')
            </if>
            <if test="sex != null and sex !=''">
                <choose>
                    <when test="sex == 1">
                        AND A.SEX = '男'
                    </when>
                    <when test="sex == 0">
                        AND A.SEX = '女'
                    </when>
                </choose>
            </if>
            <if test="isPay != null and isPay !=''">
                AND A.IsPay = #{isPay}
            </if>
            <if test="education != null and education !=''">
                <choose>
                    <when test="education ==0">
                        AND A.Education = '未知'
                    </when>
                    <when test="education ==1">
                        AND A.Education = '博士'
                    </when>
                    <when test="education ==2">
                        AND A.Education = '硕士研究生'
                    </when>
                    <when test="education ==3">
                        AND A.Education = '本科'
                    </when>
                    <when test="education ==4">
                        AND A.Education = '专科'
                    </when>
                    <when test="education ==5">
                        AND A.Education = '高中/中专'
                    </when>
                    <when test="education ==6">
                        AND A.Education = '初中及以下'
                    </when>
                </choose>
            </if>
            <if test="profession != null and profession !=''">
                AND A.Profession LIKE '%' + #{profession} + '%'
            </if>
            <if test="atSchool != null and atSchool !=''">
                AND A.AtSchool = #{atSchool}
            </if>
            <if test="account != null and account !=''">
                AND E.Account = #{account}
            </if>
        </where>
        ORDER BY A.ID
    </select>

    <!-- 添加面试信息 -->
    <insert id="addRecruitData" parameterType="RecruitDataBean">
        INSERT INTO ZP_RECRUITDATA (
        NAME, SEX, BIRTH, IDNUM, PHONE, MAIL, QQ, ADDRESS,
        HOMEADDRESS, HOMETOWN, ACCOUNTPROP, PLOITICAL, MARITAL, NATIONALITY, HEIGHT,
        WEIGHT, BLOODTYPE, EDUCATION, SCHOOL, GRADUATION, PROFESSION, ATSCHOOL, WORKCOMPANY,
        WORKEXP, CERTIFICATE, CHANNEL, POSITION, DEPARTMENT, WAGES, INTERVIEWER, RECRUITDATE,
        INVITATIONDATE, SCORE, ISQUALIFIED, ISPAY, REMARK, ISENTRY, ISDELETE, UPDATEDATE, UPDATEACCOUNT)
        VALUES(
        #{name},#{sex}, #{birth},#{idNum}, #{phone},#{mail} ,#{qq},#{address},
        #{homeAddress},#{homeTown},#{accountProp},#{ploitical},#{marital} ,#{nationality},#{height} ,
        #{weight} ,#{bloodType} ,#{education} ,#{school} ,#{graduation},#{profession},#{atSchool},#{workCompany},
        #{workexp},#{certificate},#{channel},#{position},#{department} , #{wages}, #{interviewer} ,#{recruitDate} ,
        #{invitationDate},#{score}, #{isQualified},#{isPay},
        #{remark},#{isEntry},#{isDelete},#{updateDate},#{updateAccount})
    </insert>

    <!-- 修改面试信息 -->
    <update id="updateRecruitData" parameterType="RecruitDataBean">
        UPDATE ZP_RECRUITDATA
        SET
        NAME = #{name}
        , SEX = #{sex}
        , BIRTH = #{birth}
        , IDNUM = #{idNum}
        , PHONE = #{phone}
        , MAIL = #{mail}
        , QQ = #{qq}
        , ADDRESS = #{address}
        , HOMEADDRESS = #{homeAddress}
        , HOMETOWN = #{homeTown}
        , ACCOUNTPROP = #{accountProp}
        , PLOITICAL = #{ploitical}
        , MARITAL = #{marital}
        , NATIONALITY = #{nationality}
        , HEIGHT = #{height}
        , WEIGHT = #{weight}
        , BLOODTYPE = #{bloodType}
        , EDUCATION = #{education}
        , SCHOOL = #{school}
        , GRADUATION = #{graduation}
        , PROFESSION = #{profession}
        , ATSCHOOL = #{atSchool}
        , WORKCOMPANY = #{workCompany}
        , WORKEXP = #{workexp}
        , CERTIFICATE = #{certificate}
        , CHANNEL = #{channel}
        , POSITION = #{position}
        , DEPARTMENT = #{department}
        , WAGES = #{wages}
        , INTERVIEWER = #{interviewer}
        , RECRUITDATE = #{recruitDate}
        , INVITATIONDATE = #{invitationDate}
        , SCORE = #{score}
        , ISQUALIFIED = #{isQualified}
        , ISPAY = #{isPay}
        , REMARK = #{remark}
        , UPDATEDATE = #{updateDate}
        , UPDATEACCOUNT = #{updateAccount}
        WHERE ID = #{id}
    </update>

    <!-- 删除面试信息（逻辑删除） -->
    <update id="updateRecruitDataById">
        UPDATE ZP_RECRUITDATA
        SET ISDELETE = 1
        WHERE ID = #{id}
    </update>

    <!-- 查询招聘计划 -->
    <select id="queryZpPlan" parameterType="ZpPlanBean" resultType="ZpPlanBean">
        SELECT
        A.PLAN_ID,
        A.DEPARTMENT,
        B.NAME DEPARTMENTNAME,
        A.POSITION,
        C.POSITION_NAME POSITIONNAME,
        A.LACKNUM,
        A.PLANNUM,
        A.PHONENUM,
        A.PLANDATE,
        A.IS_YES,
        A.IS_BACK
        FROM
        ZP_PLAN AS A
        LEFT JOIN T_DEPARTMENT AS B ON A.DEPARTMENT = B.ID
        LEFT JOIN POSITION_DATA AS C ON A.POSITION = C.POSITION_ID
        <where>
            <if test="begDate != null and begDate != ''">
                AND A.PLANDATE <![CDATA[ >= ]]> #{begDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND A.PLANDATE <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test=" department != null and department != ''">
                AND A.DEPARTMENT = #{department}
            </if>
            <if test="position != null and position != ''">
                AND C.POSITION_ID = #{position}
            </if>
            <if test="isYes !=null and isYes != ''">
                <choose>
                    <when test="isYes == 0">
                        AND A.IS_YES IS NULL
                    </when>
                    <when test="isYes != 0">
                        AND A.IS_YES = #{isYes}
                    </when>
                </choose>
            </if>
            <if test="isBack !=null and isBack != ''">
                <choose>
                    <when test="isBack == 0">
                        AND A.IS_BACK IS NULL
                    </when>
                    <when test="isBack != 0">
                        AND A.IS_BACK = #{isBack}
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY B.ParentID, B.OrderNum
    </select>

    <!-- 添加招聘计划 -->
    <insert id="addZpPlan" parameterType="ZpPlanBean">
        INSERT INTO ZP_PLAN (DEPARTMENT, POSITION, LACKNUM, PLANNUM, PHONENUM, PLANDATE)
        VALUES(#{department},#{position},#{lackNum},#{planNum},#{phoneNum},#{planDate})
    </insert>

    <!-- 修改招聘计划 -->
    <update id="updateZpPlan" parameterType="ZpPlanBean">
        UPDATE ZP_PLAN
        <trim prefix="set" suffixOverrides=",">
            <if test="department != null">
                DEPARTMENT = #{department},
            </if>
            <if test="position != null">
                POSITION = #{position},
            </if>
            <if test="planDate != null">
                PLANDATE = #{planDate},
            </if>
            <if test="lackNum != null">
                LACKNUM = #{lackNum},
            </if>
            <if test="planNum != null">
                PLANNUM = #{planNum},
            </if>
            <if test="phoneNum != null">
                PHONENUM = #{phoneNum},
            </if>
            <if test="isYes != null">
                IS_YES = #{isYes},
            </if>
            <if test="isBack != null">
                IS_BACK = #{isBack},
            </if>
        </trim>
        WHERE PLAN_ID = #{planId}
    </update>

    <!-- 删除招聘计划 -->
    <delete id="deleteZpPlan">
        DELETE FROM ZP_PLAN WHERE PLAN_ID = #{id}
    </delete>

    <!-- 查询招聘发布信息 -->
    <select id="queryZpPublish" parameterType="ZpPublishBean" resultType="ZpPublishBean">
        SELECT
        P.Publish_ID publishId,
        P.Channel,
        P.Position,
        C.RecruitChannel_Name channelName,
        PD.Position_Name positionName,
        P.PublishDate,
        P.PublishNum,
        P.PhoneNum
        FROM
        ZP_Publish P
        LEFT JOIN ZP_RecruitChannel C ON P.Channel = C.RecruitChannel_ID
        LEFT JOIN Position_Data PD ON PD.Position_ID = P.Position
        <where>
            <if test="begDate != null and begDate != '' ">
                AND P.PublishDate <![CDATA[ >= ]]> #{begDate}
            </if>
            <if test="endDate != null and endDate != '' ">
                AND P.PublishDate <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="channel != null and channel != '' ">
                AND P.Channel = #{channel}
            </if>
            <if test="position != null and position != '' ">
                AND P.Position = #{position}
            </if>
        </where>
        ORDER BY P.PublishDate, P.Channel, P.Position
    </select>

    <!-- 添加招聘发布信息 -->
    <insert id="addZpPublish" parameterType="ZpPublishBean">
        INSERT INTO ZP_PUBLISH (CHANNEL, POSITION, PUBLISHNUM, PHONENUM, PUBLISHDATE)
        VALUES(#{channel},#{position},#{publishNum},#{phoneNum},#{publishDate})
    </insert>

    <!-- 删除招聘发布信息 -->
    <delete id="deleteZpPublish">
        DELETE FROM ZP_PUBLISH
        WHERE PUBLISH_ID = #{id}
    </delete>

    <!-- 修改招聘发布信息 -->
    <update id="updateZpPublish" parameterType="ZpPublishBean">
        UPDATE ZP_PUBLISH
        SET
        CHANNEL = #{channel}
        , POSITION = #{position}
        , PUBLISHNUM = #{publishNum}
        , PHONENUM = #{phoneNum}
        , PUBLISHDATE = #{publishDate}
        WHERE PUBLISH_ID = #{publishId}
    </update>

    <!-- 入职员工关联面试信息 -->
    <update id="relateRecruitData" parameterType="RecruitDataBean">
        UPDATE T_Employee_Basic
        SET
            RecruitDataID = #{id}
        WHERE
            Account = #{account}
    </update>
</mapper>