<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE
        mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.erp.task.dao.NoticeDao">
    <!--
        办公用品申请通知
        1.通知主管或组长
        2.通知前台
        3.通知申请人（主管或组长审核未通过）
        4.提醒人事
        5.提醒副总
        6.提醒财务
        7.通知申请人（人事、副总、财务审核未通过）
    -->
    <select id="getOffice" resultType="java.lang.String">
        <if test="flag == 1">
            SELECT ACCOUNTID_2
            FROM OFFICESUPPLIESDATA
            WHERE ADVICE_2 = 3 AND ZHU_SEE = 0
            GROUP BY ACCOUNTID_2
        </if>
        <if test="flag == 2">
            IF EXISTS (SELECT * FROM OFFICESUPPLIESDATA A WHERE A.STATE = 1 AND A.REN_SEE = 0)
            SELECT ACCOUNT_ID FROM ACCOUNT_RULE_DATA WHERE RULE_ID = 70
        </if>
        <if test="flag == 3">
            SELECT ACCOUNTID_1
            FROM OFFICESUPPLIESDATA
            WHERE STATE = 2 AND SHEN_SEE = 0
            GROUP BY ACCOUNTID_1
        </if>
        <if test="flag == 4">
            SELECT RENSHI_ID
            FROM OFFICESUPPLIESDATA
            WHERE (IS_TIJIAO = 1 OR FUZONG_ADVICE = 2)
            AND RENSHI_ADVICE IS NULL AND RENSHI_SEE IS NULL
        </if>
        <if test="flag == 5">
            SELECT FUZONG_ID
            FROM OFFICESUPPLIESDATA
            WHERE (RENSHI_ADVICE = 1 OR CAIWU_ADVICE = 2) AND FUZONG_ADVICE IS NULL AND FUZONG_SEE IS NULL
            GROUP BY FUZONG_ID
        </if>
        <if test="flag == 6">
            SELECT CAIWU_ID
            FROM OFFICESUPPLIESDATA
            WHERE FUZONG_ADVICE = 1 AND CAIWU_ADVICE IS NULL AND CAIWU_SEE IS NULL
            GROUP BY CAIWU_ID
        </if>
        <if test="flag == 7">
            IF EXISTS (SELECT * FROM OFFICESUPPLIESDATA A WHERE (A.RENSHI_ADVICE = 2 OR A.FUZONG_ADVICE = 2 OR
            A.CAIWU_ADVICE = 2 OR A.CAIWU_ADVICE = 1 )
            AND A.REN_OTHERSEE IS NULL AND A.IS_TIJIAO = 1)
            SELECT ACCOUNT_ID FROM ACCOUNT_RULE_DATA WHERE RULE_ID = 70
        </if>
    </select>

    <!--    根据权限id查询用户-->
    <select id="queryAccountIdByRule" resultType="java.lang.String">
        SELECT ACCOUNT_ID FROM ACCOUNT_RULE_DATA WHERE RULE_ID = #{ruleId}
    </select>

    <!--    请假通知   -->
    <select id="askOfLeave" resultType="java.lang.String">
        SELECT
            DISTINCT
            CASE
            WHEN Result1 IS NULL THEN  Account1
            WHEN Result2 IS NULL AND  Result1 = '1' THEN  Account2
            WHEN Result3 IS NULL  AND Result2 = '1' THEN  Account3
            WHEN Result4 IS NULL AND Result3 = '1' THEN  Account4
            END AS accountId
        FROM
            Leave_Qingjia
        WHERE
            (Result1 IS NULL AND Account1 IS NOT NULL)
            OR ( Result1=1 AND Result2 IS NULL AND Account2 IS NOT NULL)
            OR ( Result2=1 AND Result3 IS NULL AND Account3 IS NOT NULL)
            OR ( Result3=1 AND Result4 IS NULL AND Account4 IS NOT NULL)
    </select>
    <!--    倒休通知   -->
    <select id="restDown" resultType="java.lang.String">
        SELECT
            DISTINCT
            CASE
            WHEN Result1 IS NULL THEN  Account1
            WHEN Result2 IS NULL AND  Result1 = '1' THEN  Account2
            WHEN Result3 IS NULL  AND Result2 = '1' THEN  Account3
            WHEN Result4 IS NULL AND Result3 = '1' THEN  Account4
            END AS accountId
        FROM
            Leave_Qingjia
        WHERE
            (Result1 IS NULL AND Account1 IS NOT NULL)
            OR ( Result1=1 AND Result2 IS NULL AND Account2 IS NOT NULL)
            OR ( Result2=1 AND Result3 IS NULL AND Account3 IS NOT NULL)
            OR ( Result3=1 AND Result4 IS NULL AND Account4 IS NOT NULL)
    </select>

    <!--外出登记通知-->
    <select id="queryGoOutRegisterAccountIds" resultType="java.lang.String">
        SELECT
            Go_Out_Tongzhi_ID
        FROM
            Go_Out_Register
        WHERE
            Go_Out_Delete IS NULL
            AND Go_Out_Tongzhi_Advice = 1 UNION
        SELECT
            Go_Report_ID
        FROM
            Go_Out_Register
        WHERE
            Go_Out_Delete IS NULL
            AND Go_Out_Tongzhi_Advice = 2
            AND Go_Report_Advice = 1
    </select>
</mapper>
