<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiubo.erp.wzbg.dao.ComputerManageDao">

    <!--    查询电脑用品-->
    <select id="queryComputer" resultType="com.jiubo.erp.wzbg.bean.ComputerManageBean">
        SELECT COMPUTER.ID, T1.NAME AS DEPARTMENTNAME, COMPUTER.ID AS CID, TYPE_ID, DEPARTMENTID
        , START_TIME,JOB_ID, POSITION_NAME, ARTICLES_NAME,
        USER_ID,A5.ACCOUNT_NAME AS USERNAME,
        APPLY_ID, A1.ACCOUNT_NAME AS APPLYNAME
        ,ZHU_ID , A2.ACCOUNT_NAME AS ZHUNAME,
        FU_ID, A3.ACCOUNT_NAME AS FUNAME,
        PREPARE_ID,A4.ACCOUNT_NAME PREPARENAME,
        CASE WHEN PEI_JIEDAN_ID IS NULL OR PEI_JIEDAN_ID = 0 THEN NULL
        WHEN PEI_JIEDAN_ID IS NOT NULL AND PEI_JIEDAN_ID != 0 THEN PEI_JIEDAN_ID END AS PEI_JIEDAN_ID
        ,A6.ACCOUNT_NAME PEI_JIEDAN_NAME,SHUOMING,
        END_TIME
        , CASE
        WHEN PREPARE_NAME IS NULL THEN '未交接'
        WHEN PREPARE_NAME IS NOT NULL THEN PREPARE_NAME
        END AS PREPARE_NAME
        , CASE
        WHEN IS_RESERVE = 2 THEN '预申请'
        WHEN IS_RESERVE = 0 THEN '普通'
        END AS IS_RESERVE
        , CASE
        WHEN ZHU_ADVICE = 0 THEN '未审核'
        WHEN ZHU_ADVICE = 1 THEN '同意'
        WHEN ZHU_ADVICE = 2 THEN '不同意'
        END AS ZHU_ADVICE
        , CASE
        WHEN IS_ING IS NULL THEN '点击进行'
        WHEN IS_ING = 1 THEN '进行中'
        WHEN IS_ING = 2 THEN '已完成'
        END AS IS_ING
        , CASE
        WHEN FU_ADVICE = 0 THEN '未审核'
        WHEN FU_ADVICE = 1 THEN '同意'
        WHEN FU_ADVICE = 2 THEN '不同意'
        END AS FU_ADVICE
        FROM COMPUTER
        LEFT JOIN ACCOUNT_DATA A1 ON A1.ACCOUNT_ID = COMPUTER.APPLY_ID
        LEFT JOIN ACCOUNT_DATA A2 ON A2.ACCOUNT_ID = COMPUTER.ZHU_ID
        LEFT JOIN ACCOUNT_DATA A3 ON A3.ACCOUNT_ID = COMPUTER.FU_ID
        LEFT JOIN ACCOUNT_DATA A4 ON A4.ACCOUNT_ID = COMPUTER.PREPARE_ID
        LEFT JOIN ACCOUNT_DATA A5 ON A5.ACCOUNT_ID = COMPUTER.USER_ID
        LEFT JOIN ACCOUNT_DATA A6 ON A6.ACCOUNT_ID = COMPUTER.PEI_JIEDAN_ID
        LEFT JOIN T_DEPARTMENT T1 ON DEPARTMENTID = T1.ID
        LEFT JOIN POSITION_DATA ON POSITION_DATA.POSITION_ID = JOB_ID
        WHERE COMPUTER.ID >= 0
        AND (IS_RESERVE = 0 OR IS_RESERVE = 2)
        <if test="dateType != null and dateType != ''
         and begDate != null and begDate != '' and endDate != null and endDate != ''">
            <if test="dateType == 0">
                AND START_TIME >= #{begDate}
                AND START_TIME &lt; #{endDate}
            </if>
            <if test="dateType == 1">
                AND END_TIME >= #{begDate}
                AND END_TIME &lt; #{endDate}
            </if>
        </if>
        <if test="applyName != null and applyName != ''">
            AND A1.ACCOUNT_NAME LIKE '%' + #{applyName} + '%'
        </if>
        <if test="accountId != null and accountId != '' and accountName != null and accountName != ''">
            AND (USER_ID = #{accountId} OR FU_ID = #{accountId} OR USER_NAME = #{accountName}
            OR APPLY_ID = #{accountId} OR ZHU_ID = #{accountId} OR PEI_JIEDAN_ID = #{accountId}
            OR PREPARE_NAME = #{accountName})
        </if>
        <if test="DepartmentID != null and DepartmentID != ''">
            AND DEPARTMENTID = #{DepartmentID}
        </if>
        <if test="adviceType != null and adviceType != ''">
            <choose>
                <when test="adviceType == 0"></when>
                <when test="adviceType == 1">AND FU_ADVICE = 1</when>
                <when test="adviceType == 2">AND (ZHU_ADVICE = 0 OR FU_ADVICE = 0)</when>
                <when test="adviceType == 3">AND (ZHU_ADVICE = 2 OR FU_ADVICE = 2)</when>
            </choose>
        </if>
        <if test="typeId != null and typeId != ''">
            AND TYPE_ID = #{typeId}
        </if>
        <if test="prepareName != null and prepareName != ''">
            AND PREPARE_NAME = #{prepareName}
        </if>
        <if test="userName != null and userName != ''">
            AND A5.ACCOUNT_NAME LIKE '%' + #{userName} + '%'
        </if>
        <choose>
            <when test="isIng == null or isIng == '' or isIng == 0"></when>
            <when test="isIng == 1">AND IS_ING IS NULL</when>
            <otherwise>AND IS_ING = #{isIng}</otherwise>
        </choose>
        <if test="isReserve != null and isReserve != ''">
            AND IS_RESERVE = #{isReserve}
        </if>
    </select>

    <!--    主管，负责人审核-->
    <update id="shenHe">
        UPDATE COMPUTER
        SET
        <trim suffixOverrides=",">
            <if test="zhuAdvice != null and zhuAdvice != ''">
                ZHU_ADVICE = #{zhuAdvice},
            </if>
            <if test="fuAdvice != null and fuAdvice != ''">
                FU_ADVICE = #{fuAdvice},
            </if>
            <if test="peiJiedanId != null and peiJiedanId != ''">
                PEI_JIEDAN_ID = #{peiJiedanId},
            </if>
            <if test="prepareName != null and prepareName != ''">
                PREPARE_NAME = #{prepareName},
            </if>
            <if test="Shuoming != null and Shuoming != ''">
                SHUOMING = #{Shuoming},
            </if>
            <if test="zhuId != null and zhuId != ''">
                ZHU_ID = #{zhuId},
            </if>
            <if test="fuId != null and fuId != ''">
                FU_ID = #{fuId},
            </if>
            <if test="isIng != null and isIng != ''">
                IS_ING = #{isIng},
            </if>
            <if test="endTime != null and endTime != ''">
                END_TIME = #{endTime},
            </if>
            <if test="isPei != null and isPei != ''">
                IS_PEI = #{isPei},
            </if>
        </trim>
        WHERE ID = #{id}
        <if test="zhuAdvice != null and zhuAdvice != ''">
            AND ZHU_ADVICE = 0 AND IS_ING IS NULL
        </if>
        <if test="fuAdvice != null and fuAdvice != ''">
            AND FU_ADVICE = 0 AND ZHU_ADVICE = 1 AND IS_ING IS NULL
        </if>
        <if test="isIng != null and isIng != ''">
            <if test="isIng == 1">
                AND IS_ING IS NULL
            </if>
            <if test="isIng == 2">
                AND IS_ING = 1
            </if>
        </if>
    </update>

    <!--    电脑用品通知-->
    <select id="queryComputerNotice" resultType="com.jiubo.erp.wzbg.bean.ComputerManageBean">
        SELECT * FROM COMPUTER
        WHERE 1 = 1
        <if test="flag == 1">
            AND (ZHU_ADVICE = 0 OR ZHU_ADVICE = 5)
        </if>
        <if test="flag == 11">
            AND(ZHU_ADVICE = 1 OR ZHU_ADVICE = 5) AND FU_ADVICE = 2 AND ZHU_SEE = 0
        </if>
        <if test="flag == 2">
            AND( FU_ADVICE = 0 OR FU_SEE = 0 )
            AND ZHU_ADVICE = 1
        </if>
        <if test="flag == 22">
            AND (FU_ADVICE = 0 OR FU_SEE = 0 )
            AND ZHU_ADVICE = 5
            AND IS_RESERVE = 1
        </if>
        <if test="flag == 3">
            AND FU_ADVICE = 1 AND IS_RESERVE != 1
            AND IS_PEI IS NULL AND DUI_SEE = 0
        </if>
        <if test="flag == 9">
            AND FU_ADVICE = 1 AND IS_RESERVE != 1
            AND IS_PEI IS NULL AND IS_ING IS NULL
            /*AND EXISTS (SELECT * FROM ACCOUNT_RULE_DATA A WHERE A.RULE_ID = 71 AND A.ACCOUNT_ID = PEI_JIEDAN_ID)*/
            /*AND EXISTS (SELECT * FROM ACCOUNT_RULE_DATA A,ACCOUNT_DATA B WHERE A.RULE_ID = 71 AND A.ACCOUNT_ID = B.ACCOUNT_ID AND B.ACCOUNT_NAME = PREPARE_NAME)*/
        </if>
        <if test="flag == 33">
            AND DUI_SEE = 0 AND FU_ADVICE = 1
            AND IS_RESERVE = 1 AND PEI_JIEDAN_ID = 0
        </if>
        <if test="flag == 4">
            AND (PREPARE_TIME IS NOT NULL OR FU_ADVICE = 2 OR FU_ADVICE = 1)
            AND APPLY_SEE IS NULL AND IS_RESERVE = 1
        </if>
        <if test="flag == 5">
            AND PREPARE_NAME IS NOT NULL AND USER_SEE = 0 AND END_TIME IS NULL
        </if>
        <if test="flag == 6">
            AND END_TIME IS NOT NULL AND FU_SEE = 1
        </if>
        <if test="flag == 7">
            AND PEI_JIEDAN_ID_SEE IS NULL AND IS_PEI = 1 AND IS_RESERVE = 0
        </if>
        <if test="flag == 77">
            AND PEI_JIEDAN_ID_SEE IS NULL AND IS_PEI = 1 AND IS_RESERVE = 1
        </if>
        <if test="flag == 55">
            AND (ZHU_ADVICE = 2 OR FU_ADVICE = 2) AND USER_SEE = 0
        </if>
        ORDER BY ID DESC
    </select>
</mapper>
